@import "../../styles/utilities/variables";

.recipe_background {
    font-size: calc(20px + .75vmin);
    color: $color_white;
}

.center_align_items {
    justify-content: center;
    align-items: center;
    display: flex;
}

.row_padding {
    padding-bottom: 5vh;
}

.flex_reverse {
    flex-direction: row-reverse;
    display: flex;
    padding: 20px 0px;
}

.table_recipe_name{
    font-size: calc(10px + .75vmin);
    color: $color_white;
    white-space: pre-wrap;
    width: 15%;
}

.table_recipe_data{
    font-size: calc(10px + .75vmin);
    color: $color_white;
    white-space: pre-wrap;
}

.ingredient_name {
    font-size: calc(15px + .75vmin);
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    border-bottom: aquamarine 1px solid;
    /*display: flex;
    width: 100%;
    justify-content: center;*/
}

.ingredient_container {
    /*display: flex;
    width: 100%;*/
}

.ingredient_sub_header {
    font-size: calc(15px + .75vmin);
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    border-bottom: aquamarine 1px solid;
}

.ingredient_columns {
    color: #FFFFFF;
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding: 2.5%;
}