// Utilities
@import "../../styles/utilities/variables";

.landing_background {
    background-color: $primaryBackgroundColor;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: $color_white;
  }

.image_container{
  background-color: $secondaryBackgroundColor;
  min-height: 650px;
}

