@import "../../styles/utilities/variables";

.plan_background {
    background-color: $primaryBackgroundColor;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: $color_white;
  }