// Utilities
@import "utilities/variables";

.landing-background {
  background-color: $primaryBackgroundColor;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $primaryTxtColor;
}

.landing-background {
  background-color: $primaryBackgroundColor;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $primaryTxtColor;
}

.about-background {
  background-color: $primaryBackgroundColor;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $primaryTxtColor;
}

.login-background {
  background-color: $primaryBackgroundColor;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $primaryTxtColor;
}

.plan-background {
  background-color: $primaryBackgroundColor;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $primaryTxtColor;
}

.footer-background {
  background-color: $primaryBackgroundColor;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $primaryTxtColor;
}