$primaryTxtColor: white;
$secondaryTxtColor: #61dafb;

$primaryBackgroundColor: #282c34;
$secondaryBackgroundColor: #282c34;

.landing-background {
  background-color: $primaryBackgroundColor;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $primaryTxtColor;
}

.footer-background {
  background-color: $primaryBackgroundColor;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $primaryTxtColor;
}