// Utilities
@import "../../styles/utilities/variables";

.footer_background {
  background-color: $color_light_black;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $color_white;
  padding-top: 3vh;
  padding-bottom: 5vh;
}

.bold_text {
  font-weight: bold;
  font-size: calc(10px + 2vmin);
}

.center_items {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.icon_items {
  font-size: calc(30px + 2vmin);
}