// Utilities
@import "../../styles/utilities/variables";

.nav_left_background {
    background-color: #25282F;
    color: $color_white;
    padding-top: 3vh;
    padding-bottom: 5vh;
    flex-direction: column;
    height: 100%;
  }

  .nav_link {
    color: $color_white;
    width: 100%;
    text-decoration: none;
    padding: 10px;
  }