// colors for text
$color_white: #FFFFFF;
$color_light_blue: #61dafb;
$color_grey: #333333;

// colors for background
$color_light_black: #282c34;
$color_dark_black: #20232a;
$color_off_white: #F7F7F7;